<html>
<head>
  <title>DBC Community Management System</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>DBC Community Management System</h1>
  <p>Welcome to the DBC community management system.</p>
  <p>Click <a href="students/new">here</a> to create a new student.</p>
  <p>Click <a href="faculty/new">here</a> to create a faculty member.</p>
  <ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['age'] %></li>
    <% end %>
  </ul>
</body>
</html>