<!DOCTYPE html>
<html>
<head>
    <title>Create a New Faculty Member</title>
</head>
<body>
    <form>
        <input type="text" name="name" placeholder = "Name">
        <input type="text" name="name" placeholder = "Name">
        <input type="text" name="name" placeholder = "Name">

    </form>

</body>
</html>